## direnv schenanigans
# runs these commands when you cd into this directory

# Set the KUBECONFIG to the AKS demo cluster (less-messy)
export KUBECONFIG=~/.kube/config_aks-demo

# Activate subscription, list current configuration
az account set --subscription "Free Trial"
az account list
